<a href="https://colab.research.google.com/github/ccuaspa/AlgorithmsUN2022II/blob/main/Quiz6/Quiz6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Group 4 Quiz 6

## Members

1.   Camilo Cuaspa
2.   Juan Pablo Carrillo
3.   David Alejandro Cifuentes

In [ ]:
import pandas as pd  
  
# assign data of lists.  
data = {'LMA': [  320,           320,         300 ,         250,         250,         200,         250,         310,           300,], 
        'SMA': [20,              60,          20,           50,          30,          20,          10,          50,            60] , 
        'R6M': [ 0.68071804,  0.7000642 ,  0.53575519,  0.657507684, 0.562804314, 0.25415573,  0.49991201,  0.570523729,  0.61867920], 
        'R2Y': [0.29225888 ,  0.3052325,  0.178910300,  0.24538224,  0.183972622, 0.04197501,  0.14054791 ,  0.20705711,  0.24127785]}  
  

# Create DataFrame  
df = pd.DataFrame(data)  

df['AR'] = (df['R6M'] + df['R2Y'])/2

df = df.sort_values(by=['AR'], ascending=False)
  
df

   LMA  SMA       R6M       R2Y        AR
1  320   60  0.700064  0.305233  0.502648
0  320   20  0.680718  0.292259  0.486488
3  250   50  0.657508  0.245382  0.451445
8  300   60  0.618679  0.241278  0.429979
7  310   50  0.570524  0.207057  0.388790
4  250   30  0.562804  0.183973  0.373388
2  300   20  0.535755  0.178910  0.357333
6  250   10  0.499912  0.140548  0.320230
5  200   20  0.254156  0.041975  0.148065